<p>It's a varly well known fact that if your site's posted to Hacker News, your site's going to get traffic. Sometimes more that your servers can handle knocking them into infinity and dropping connections.</p>

<p>HNCache caches (preserves a copy) of the resource so without too much hinderance the disscussuion can continue.</p>

<p>By this point you may have thought, But doesn't Google cache? Yes but it doesn't follow Hacker News and time period of a post or announcment etc. and it being posted to Hacker News is usually pretty slim so it won't be on Google's list quite yet.</p>

GitHub Repo: <a href="https://github.com/bencevans/HNCache">bencevans/HNCache</a><br/>
Contact Email: hncache [at] bensbit [.] co [.] uk