body {
	background-color:orange;
	font-family:Verdana;
	color:#222;
	margin:0;
}
h1 {
	text-align:center;
	font-size:60px;
	margin-top:80px;
}
h3 {
	text-align:center;
}
.content {
	background-color:#eee;
	padding:5px 0;
	width:400px;
	margin:0 auto 0 auto;
	text-align:center;
	border-radius:10px
}
.plugins {
	width:400px;
	margin:auto;
}
footer {
	text-align:center;
	color:#555;
	margin-top:40px;
	font-size:10px;
}
a {
	color:#000;
}